* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191411;
  font-family: 'Gilroy', sans-serif;
  color: #fff;
}

/* FONTS */

@font-face {
  font-family:'Gilroy';
  src: url(../fonts/Gilroy-Semibold.ttf);
}

@font-face {
  font-family:'Merriweather';
  src: url(../fonts/Merriweather-Black.ttf);
}

main {
  overflow: hidden;
  background-image: url(../img/main_bg.png);
  background-position: top center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.main__title {
  color: #FFF;
  font-family: 'Merriweather', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

/* HEADER */

.header {
  padding: 54px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 192px;
}

.nav {
  margin-right: 208px;
}

.nav__menu {
  display: flex;
  gap: 88px;
}

.nav__links {
  list-style: none;
}

.nav__link {
  color: #FFF;
  text-decoration: none;
}

.nav__link:hover {
  opacity: 70%;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.currency {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px 11px 0px;
  color: #FFF;
  border-radius: 5px;
  border: 1px solid #FFF;
}

.currency:hover {
  color: #fff;
  
  cursor: pointer;
  background-color: #292929;
}

/* COVER */

.cover {
  padding: 142px 0 200px;
}

.cover .container {
  position: relative;
}

.cover__info {
  max-width: 608px;
  display: flex;
  flex-direction: column;
}

.alert {
  width: 137px;
  color: #FFF;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  border-radius: 100px;
  background: var(--d-3320-f, #D3320F);
}

.cover__title {
  font-family: 'Merriweather', sans-serif;
  color: var(--unnamed, #FFF);
  margin: 0 0 56px;
  width: 536px;
  font-size: 120px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 130%;
}

.cover__subtitle {
  width: 608px;
  margin: 0 0 56px;
  font-size: 24px;
  font-weight: 600;
  color: #FFF;
  
}

.button {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 50px;
  background: var(--unnamed, linear-gradient(135deg, #DA8023 0%, #E2B438 100%));
  border-radius: 8px;
  border: none;
}

.button:hover {
  opacity: 70%;
  transition: opacity 0.5s ease-in-out;
}

.cover__img {
   position: absolute;
   top: -123px;
   left: calc(100% - 991px);
}

/* OPTION */

.option {
  background-image: url(../img/whybg.png);
  background-position: top center;
  background-size: initial;
  color: #FFF;
  margin-bottom: 180px;
}

.option__wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.option__item {
  max-width: 312px;
  margin-top: 60px;
}

.option__img {
  width: 100px;
  height: 100px;
  align-items: center;
}

.option__title {
  margin: 24px 0 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.option__subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

/* MENU */

.menu {
  margin: 0 0 180px;
  color: #fff;
  background-image: url(../img/burgers_bg.png);
  background-position: top center; 
  background-size: 1400px;
}

.menu__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0 0;
  gap: 24px;
}

.menu__item {
  width: 384px;
  border-radius: 16px;
  border: 1px solid var(--dark-grey, #353535);
  background: var(--cards, #211A16);
  padding: 30px;
}

.menu__img {
  max-width: 100%;
  height: 250px;
  
}

.menu__title {
  margin: 24px 0 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu__subtitle {
  margin: 0 0 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 62px;
}

.menu__button-text {
  margin-right: 10px;
}

.menu__extra {
  display: flex;
  justify-content: space-between;
}

.menu__info {
  margin-bottom: 8px;
}

.price {
  font-size: 32px;
  line-height: normal;
}

.weight {
  font-size: 16px;
  line-height: normal;
  color: #757575;
}

/* ORDER */

.order {
  background: url(../img/order_bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 180px;
  overflow: hidden;
}

.order .container {
  position: relative;
}

.order__img {
  position: absolute;
  top: 0;
  right: calc(100% - 764px);
  /* z-index: -1; */
}

.order__up {
  width: 180px;
  height: 90px;
  position: absolute;
  top: 563px;
  left: 1097px;
  opacity: 70%;
}

.order__up:hover {
  opacity: 100%;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.order__form {
  border-radius: 16px;
  border: 1px solid #353535;
  background: #211A16;
  margin: 60px 0 0 674px;
  padding: 60px 40px;
  max-width: 424px;
  box-sizing: border-box;
  
}

.order__text {
  font-size: 24px;
  line-height: normal;
  text-align: center;
}

.order__inputs {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.order__input {
  background: linear-gradient(95.61deg, #da8023 0%, #e2b438 100%);
  width: 344px;
  height: 62px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__input input {
  padding: 20px 10px;
  background: #211a16;
  border-radius: 8px;
  width: 342px;
  height: 60px;
  color: #FFF;
  box-sizing: border-box;
  border: 1px solid transparent;
  /* outline: none; */
}

.order__button {
  width: 344px;
  height: 62px;
}