* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191411;
  font-family: 'Gilroy', sans-serif;
  color: #fff;
}

/* FONTS */

@font-face {
  font-family:'Gilroy';
  src: url(../fonts/Gilroy-Semibold.ttf);
}

@font-face {
  font-family:'Merriweather';
  src: url(../fonts/Merriweather-Black.ttf);
}

main {
  overflow: hidden;
  background-image: url(../img/main_bg.png);
  background-position: top center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.main__title {
  color: #FFF;
  font-family: 'Merriweather', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

/* HEADER */

.header {
  padding: 54px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 192px;
}

.nav {
  margin-right: 208px;
}

.nav__menu {
  display: flex;
  gap: 88px;
}

.nav__links {
  list-style: none;
}

.nav__link {
  color: #FFF;
  text-decoration: none;
}

.nav__link:hover {
  opacity: 70%;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.currency {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px 11px 0px;
  color: #FFF;
  border-radius: 5px;
  border: 1px solid #FFF;
}

.currency:hover {
  color: #fff;
  
  cursor: pointer;
  background-color: #292929;
}